body{
    color: aliceblue;
    border-color: black;
}
p {
    color: darkblue;
}
a:hover,a{
    color: crimson;
}
.szarkah2{
    color: crimson;
}
h2{
    color: aliceblue;
}
hr{
    width: 70%;
    align-self: center;
}
#fejlec{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#rendszertantablazat{
    width: 400px;
    border: none;
    margin-left: auto;
    margin-right: auto;
}
#kep1{
    height: 153px;
    width: 230px;
    border: 1px solid black;
    
}
#kep2{
    float: right;
    width: 230px;
    height: 153px;
    border: 1px solid black;
}
#tablazat{
    color: black;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    
}
